.helloiamcristinoronaldo {
  background-color: #cff0ff;
  padding-top: 20px;
}
.imageOfAbout img {
  width: 100%;
}
.paragraph p {
  line-height: 30px;
}
.aboutUs {
  color: #00a0e8;
}
.paragraphOfAbout .title {
  color: #162171;
  font-size: 40px;
}
@media (min-width: 800px) {
  .about_main {
    display: flex;
    justify-content: center;
  }
  .paragraphOfAbout {
    width: 35%;
  }
  .imageOfAbout {
    width: 35%;
  }
  .paragraph p {
    font-size: 20px;
  }
}
.newsArea {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  justify-content: center;
  line-height: 20px;
  padding: 20px;
  gap: 20px;
  list-style: none;
}
.news .newsbox a {
  border-radius: 20px;
  padding: 20px;
  transition: box-sizing 1s ease;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 20px;
}
.news .newsbox a:hover {
  box-shadow: 5px 5px 10px #888888;
}
.newsArea .newsbox img {
  width: 70%;
}
.news .newsbox .heading,
.news .newsbox .image,
.news .newsbox .description {
  display: flex;
  justify-content: center;
}
.newsbox a {
  text-decoration: none;
  color: black;
}
@media (min-width: 900px) {
  .newsArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
