.main_part_of_service {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 50px 10px;
  line-height: 20px;
}
@media (min-width: 800px) {
  .main_part_of_service {
    display: flex;
    flex-direction: row;
  }
}

.dataOfTheService {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.dataOfTheService:hover {
  box-shadow: 5px 5px 10px #888888;
}

.dataOfTheService .service_image {
  display: flex;
  justify-content: center;
}
.dataOfTheService .service_image img {
  background-color: #fb9ac8;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
}
.dataOfTheService .data_of_service {
  display: flex;
  justify-content: center;

  text-align: center;
}
.main_part_of_service a {
  text-decoration: none;
  color: black;
  font-size: large;
}
.main_part_of_service .content_of_service {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
