.mainOfFooter {
  border: 1px solid black;
  padding: 10px;
  background-color: #162171;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 20px;
}
.mainOfFooter .footerHeading {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerHeading .logosOfFooter {
  display: flex;
  list-style: none;
  gap: 20px;
}
.quickLinks {
  padding: 10px;
}
.quickLinks ul {
  padding-top: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.quickLinks ul li a {
  padding: 10px;
  text-decoration: none;
  color: white;
}
.mainOfFooter .legal {
  padding: 10px;
}
.mainOfFooter .legal div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
}
.mainOfFooter .legal div ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.mainOfFooter .getInTouch {
  padding: 10px;
}
.mainOfFooter .getInTouch ul {
  padding-top: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.mainOfFooter .getInTouch ul li {
  padding: 5px 10px;
  display: flex;
  gap: 10px;
}
.sendEmail {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.sendEmail .sendmessage input {
  width: 15rem;
  height: 2rem;
  border: none;
  border-radius: 15px;
}
.sendEmail .submit input {
  width: 5rem;
  height: 2rem;
  border: none;
  background-color: white;
  border-radius: 15px;
}
@media (min-width: 800px) {
  .mainOfFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
  }
  .mainOfFooter .footerHeading {
    width: 35%;
  }
  .mainOfFooter .quickLinks {
    width: 15%;
  }
  .mainOfFooter .legal {
    width: 15%;
  }
  .mainOfFooter .gitInTouch {
    width: 35%;
  }
  .getInTouch .sendEmail {
    display: flex;
    justify-content: left;
  }
}
