.imagesOfDigitalMarketing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}
.imagesOfDigitalMarketing img {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  box-shadow: 10px 10px 10px #888888;
}

@media (min-width: 800px) {
  .digitalmarketing1,
  .digitalmarketing2 {
    display: flex;
    gap: 30px;
    padding: 20px;
  }
}
