.imageOfSeoServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.imageOfSeoServices img {
  height: 300px;
  padding: 20px;
  box-shadow: 10px 10px 10px #888888;
}
@media (min-width: 800px) {
  .imageOfSeoServices {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
  }
}
